.btn-border {
  border: black 1px solid !important;
}

.sign-up-info-text {
  color: grey;
}

.fullscreen {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90vh;
  width: 100vw;
}

.imge {
  background-image: url("../../../assets/event.webp");

  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#checkbox {
  margin-right: 3px;
}

.errorMessage {
  color: rgba(39, 39, 194, 0.801);
}

.error-text {
  color: red;
}
