.upload-photo {
  margin:0;
}

.photo-preview {
  
}

.file-input{
  display: none;
}

.upload-btn{
  width: 140px;
  height: 40px;
}

.preview-box{
  width: 160px;
  height: 160px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;

  img{
    width: 160px;
    height: 160px;
    margin: 10px;
  }
}
