.addEvent-info {
    width: 100vw;
    height: 20vh;
    background-color: rgb(241, 241, 241);
    margin-bottom: 10px;
    align-items: center;
    justify-content: start;
  }
.addEvent-headInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    min-height: 180px;
    text-align: center;
    font-weight:400;
}

.dashedBorder {
  margin: 200px;
  position: relative;
  border: 2px dashed #0088d7;
  border-radius: 3px;
  padding:20px
}

.addEventContent {
  align-items: center;
  text-align: center;
}

.appearContent1 {
  position: relative;
  left: -4px;
  color: #4e657e;
  font-weight:300
}

.appearContent1 .appearContent2 {
  animation:cursor-blink .75s linear infinite
}

.appearContentColor {
  color:#0088d7
}
.appearContentFont {
  font-weight:700 !important
}
  
  .addEventImg {
    background-color: #fee9ec;
    padding: 50px 50px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 700;
    color: #dd4b39;
  }
  
  .addEventImgLocation {
    margin-left: 10vw;
  }

  .browseBtn {
    background-color: #1C9941 !important;
    border-radius: 3px !important;
    margin-right: 10px !important;
  }
  .browseBtn:hover {
    background-color: #22b44e !important;
    border-radius: 3px !important;
    color: #fff !important;
  }
  .browseBtnText {
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .addEventBtn {
    background-color: #0088d7;
    border-radius: 3px;
    margin-right: 10px;
    margin: 20px;

}

.addEventBtn:hover {
  background-color: #007ec8;
  border-radius: 3px;
}
.addEventBtnText {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
  
  .document-container {
    border: 1px solid rgb(179, 179, 179);
  }
  
  .document-section {
    border-top: 1px solid rgb(211, 211, 211);
    justify-content: center;
    align-items: center;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  
  .document-section-in {
    border-right: 1px solid rgb(211, 211, 211);
    justify-content: center;
    align-items: center;
  }
  
  .document-section-right {
    justify-content: center;
    align-items: center;
  }
  
  .pdf-document {
    align-items: center;
    margin-left: 40px;
  }

  .progessBar{
    height: 1.65rem;
    width: 0%;
    background-color: rgb(68, 212, 231);
    color: white;
    padding:2px;
    margin: 5px 0px 5px 0px;
  }