.events {
  // padding: 10px;
  margin: 0;
}

.event-navbar{
  background-color: #dee8f1;
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: end;
  padding-bottom: 10px;
  padding-top: 10px;


  *{
    margin-left: 5px;
  }
}

.event-header {
  height: 80px;
  // background-color: #6fa544;
  margin: 10px;
  padding: 20px;

  h3{
    color: rgb(5, 44, 60);
  }
  
}

.event-picture {
  background-image: url("../../assets/event.webp");

  width: 120px;
  height: 120px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-content {
  background-color: #f4f7fa;
  margin: 10px;
  padding: 20px;

  border: 1px solid rgb(249, 245, 245);
  border-radius: 10px;
}
